/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #72b5db; /* Fundo azul marinho */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icone-ok svg {
    width: 80px;
    height: 80px;
    color: #4CAF50; /* Cor do ícone */
    margin-bottom: 20px;
}

.mensagem h1 {
    color: #4CAF50;
    margin-top: 20px;
}

.mensagem p {
    font-size: 18px;
    margin-top: 10px;
}

a {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #0056b3;
}
